*{
  box-sizing: border-box;
}

h1{
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: #154360;
  letter-spacing: 2px;
}

.p1{
  /*color: red;*/
  color: #2471A3;
}

.p2{
  /*color: blue;*/
  color: #7FB3D5;
}

.container{
  margin-top: 5vh;
}

.game-board{
  margin: 0 auto;
  width: 70vh;
  height: 70vh; 
}

.tile{
  display: inline-block;
  width: 33.3333%;
  height: 33.3333%;
  background-color: #EAF2F8;
  margin: -2px -2px;
  border: 1px solid white;
}
